:root {
  --black: #000000;
  --white: #ffffff;
  --border_color: #e6e6e6;
  --section_padding: 48px 32px;
  --max_viewport_width: 1920px;
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  color: var(--black);
  text-rendering: optimizeLegibility;
  max-width: var(--max_viewport_width);
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
  font-family: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}
